<!DOCTYPE html>
<html lang="en">
	<!-- <meta charset="utf-8"> -->
	<head>
		<title>Assignment 1 - INFO 253 Web Architecture</title>
		<link rel="stylesheet" href="static/css/style.css" />
		<script src="static/js/script.js"></script>

		<meta charset="utf-8"> 
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
	</head>
	<body>
		<header>
		<div>
			<a href="./">home</a>
			<a href="./contact">contact us</a>
			<a href="./about">about us</a>
		</div>
		</header>

		<h1 id="indexHeader">My first assignment</h1>
		<div class="indexList">
		<ul>
			<li>
			<a href="./blog/8-experiments-in-motivation">8 Experiments in Motivation</a>
			</li>
			<li>
			<a href="./blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a>	</li>
			<li><a href="./blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a></li>
			<li>
			<a href="./blog/training-to-be-a-good-writer">Training to Be a Good Writer</a></li>
			<li>		
			<a href="./blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a>
			</li>
		</ul>
</div>
		<footer>
		<div>
			<a href="./">home</a>
			<a href="./contact">contact us</a>
			<a href="./about">about us</a>
		</div>
		</footer>
	</body>
</html>
	
